.folder-container {
  width: 650px;
  height: 380px;
  background-color: #f5c76a;
  border-radius: 12px;
  position: relative;
  padding-top: 50px;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding-top: 50px;
}


.tabs {
  position: relative;
  top: 0;
  left: 20px;
  display: flex;
  gap: 10px;
  z-index: 10;
}

.tab {
  background: #eab54f;
  border: none;
  padding: 8px 14px;
  border-radius: 8px 8px 0 0;
  font-weight: 500;
}

.tab-active{
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.tab-content {
  margin-top: 20px;
  background: #fff8dc;
  height: 100%;
  padding: 30px;
  animation: fadeIn 0.4s ease forwards;
}

.folder-container:not(.open) .tab-content {
    display: none;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}